

<button class="booklist"><a routerLink="/books">Book List</a></button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createbook">
  Create new book
</button>
<div class="modal fade" id="createbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please input information of new book</p>
        <form #bookForm="ngForm" (ngSubmit)="addNewBook(bookForm)">
          <table>
            <tr>
              <td>Title</td>
              <td><input [(ngModel)]="book.title" name="title" type="text"></td>
            </tr>
            <tr>
              <td>Author</td>
              <td><input [(ngModel)]="book.author" name="author" type="text"></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><input [(ngModel)]="book.description" name="description" type="text"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Create"></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

